@import "@fortawesome/fontawesome-free/css/all.css";
@import "./styles/font";
// @import url(https://fonts.googleapis.com/css?family=Raleway:400,900);
// 

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
:root {
	--card-width: 200px;
	--card-height: 300px;

	--card-transition-duration: 800ms;
	--card-transition-easing: ease;
}
// Responsive breakpoints

$sm:640px;
$md:768px;
$lg:1024px;
$xl: 1280px;

* {
    box-sizing: border-box;
    //  border: 1px dashed red;
}

html,body {
    padding:0;
    margin:0;
    width:100vw;
    height: 100vh;
    font-size:50px;
}

// CSS for SVG animation 

/* Google chrome */
.svg-position { position:absolute; top:0; left:0; height:100%; width:100% }
      @-webkit-keyframes svg-text-anim {
       40% {
          stroke-dashoffset: 0;
          fill: transparent;
        }
        60% {
          stroke-dashoffset: 0;
          fill: #ffffff;
        }
        100% {
          stroke-dashoffset: 0;
          fill: #ffffff;
        }
    }
    /* Most browsers */
    @keyframes svg-text-anim {
       40% {
          stroke-dashoffset: 0;
          fill: transparent;
        }
        60% {
          stroke-dashoffset: 0;
          fill: #ffffff;
        }
        100% {
          stroke-dashoffset: 0;
          fill: #ffffff;
        }
    }
// end of SVG animation

.bg-white{
  background-color: white;
}
//Title WAD
.title-wad{
  display:block;
  text-align:center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  font-size: 200%;
}
.pink {
  border: 5px dashed rgb(255, 7, 172);

}
.full-height {
  height: auto;
  @media only screen and (min-width:$md){
    height: 100vh;
}   
}
h1 {
    text-align: center;
}

.scrollbar {
  overflow-y: auto;
  height: 100%;
}
.scrollbar::-webkit-scrollbar{
    display:none;
  }

.work-images{
  font-size: 16px;
  width:  100%;
  height: 100%;
  .oxfam, .croixrouge, .msf{
    width:100%;
    height:auto;
  }
}

//SECTION ABOUT - TXT
.txt-presentation
{

  padding: 1rem;
  font-family: "Proxima";
  font-size:2.25vw;
  height: 50%;
  // top: 50%;
  // left: 50%;
  padding: 10%;
  margin:10%;
    @media only screen and (min-width:$md){
    font-size:1.25vw;
    text-align:auto;
    text-align: justify;
    text-justify: inter-word;
    }
}

// TEXT DYNAMIQUE
.d-inline {
  display: inline;
}
.d-none {
  display: none;
}
.font-weight-lighter {
  font-weight: lighter;
  font-size:100%;
  border: 5px dashed rgb(255, 7, 172);
  margin-left: 10%;
    @media only screen and (min-width:$md){
    font-size:100%;
    margin-left:20%;
    text-align:center;
    }
}
.section-welcome{
    background-color: #00B4D8;

}
.blue {
    background-color: #90E0EF;
}
.lightblue{
    background-color: #CAF0F8;

}
.section-about, .section-studies, .section-jobs, .section-skills,
.section-contact, .section-projects
{
  padding:0;
  font-size:50px;
  color:#03045E;
  display:flex;
  justify-content: center;
  flex-direction: column; 
  flex-wrap: wrap;
  .section-content
  {
    width:100%;
    padding:0;
      @media only screen and (min-width:$md){
        width:50%;
      }
  }
  .section-title
  {
    width:100%;
    padding:0;
    position:relative;
      @media only screen and (min-width:$md){
        width:50%;
      }
  }
  .h2-title{
    padding:25%;
    text-align:center;
    font-family: "Great-Vibes";
    color: #03045E;
    font-size: 7.9vw; //400%;  
    font-weight: normal;
  }
  @media screen and (min-width: 768px){
    flex-direction: row;
  }
  @media screen and (min-width: 768px){
    flex-direction: row;
  }

}

// Skills section starts here

figure.snip0056 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 380px;
  max-width: 480px;
  width: 100%;
  background: #ffffff;
  color: #000000;
}
figure.snip0056 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0056 > img {
  width: 50%;
  border-radius: 50%;
  border: 4px solid #ffffff;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  position: relative;
  float: right;
  right: -15%;
  z-index: 1;
}
figure.snip0056 figcaption {
  padding: 20px 30px 20px 20px;
  position: absolute;
  left: 0;
  width: 50%;
}
figure.snip0056 figcaption h2,
figure.snip0056 figcaption p {
  margin: 0;
  text-align: left;
  padding: 10px 0;
  width: 100%;
}
figure.snip0056 figcaption h2 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.snip0056 figcaption h2 span {
  font-weight: 800;
}
figure.snip0056 figcaption p {
  font-size: 0.9em;
  opacity: 0.8;
}
// figure.snip0056 figcaption .icons {
//   width: 100%;
//   text-align: left;
// }
// figure.snip0056 figcaption .icons i {
//   font-size: 26px;
//   padding: 5px;
//   top: 50%;
//   color: #000000;
// }
figure.snip0056 figcaption a {
  opacity: 0.3;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0056 figcaption a:hover {
  opacity: 0.8;
}
figure.snip0056 .position {
  width: 100%;
  text-align: left;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-style: italic;
  color: #ffffff;
  background: #03045E;
  clear: both;
}
figure.snip0056.blue .position {
  background: #20638f;
}
// figure.snip0056.red .position {
//   background: #962d22;
// }
figure.snip0056.darkblue .position {
  background: #03045E;
}
figure.snip0056:hover > img,
figure.snip0056.hover > img {
  right: -12%;
}


/* Demo purposes only */
// html {
//   height: 100%;
// }
.skills-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  // height: 100%;
  font-size:25%;
}

//Skills section ends here




.main-nav{
    // display: flex;
    // justify-content: center;
    position:absolute;
    bottom:0px;
    width:100%;
    margin:auto;
    font-size:40%;
    a{
      text-decoration: none;
    }
    ul{
    // border: 1px dashed grey;
    display:flex;
    justify-content: center;
    li{
    list-style-type: none;
    a:hover{
      text-decoration: none;
    }
    a::before {

    content: "/";
    color:white;
      }
    }
 
}
}

	#reveal1 {
		opacity: 0;
						transform: scale(0.9);
						transition: all 1s ease-in-out;
	}
	#reveal1.visible {
		opacity: 1;
						transform: none;
	}

// Section Contact starts here
.contact-heading{
  text-align:center;
  color:#00B4D8;
  margin-top: 5%;
  margin-bottom:50px;
}
.container{
  background-color:#00B4D8;
  width:400px;
  margin:80px auto;
  margin-bottom: 5%;
  border-radius:20px;
}
form{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows:auto;
  grid-gap:10px;
  padding:70px 30px 70px 30px;
}
.form-field{
  display:flex;
  flex-direction:column;
}
input[type="text"],
input[type=email]{
  height: 40px;
  font-size: 16px;
  padding-left: 5px;
  outline:none;
  border:none;
  border-radius:5px;
}
label {
  font-size: 23px;
  margin-bottom: 5px;
  color:#fff;
}
textarea
{
  resize: none;
  font-size:16px;
  padding:6px 5px;
  outline:none;
  border:none;
  border-radius:5px;
}
.btn{
  display: flex;
  align-items:center;
}
input[type="submit"]{
  padding:10px 50px;
  font-size:16px;
  outline:none;
  border:none;
  border-radius:5px;
  margin-top:40px;
  background-color: #fff;
  color:#4169e1;
  cursor:pointer;
}
.btn:hover{
  opacity:0.6;
}
@media(max-width: 415px){
  .container{
    width:350px;
    margin:50px auto 90px auto;
  }
}
//Section contact ends here

//Find me online
     .info_item{
      font-size:50%;
      display:flex;
      justify-content: center;
      padding:5%;
      span{

        text-align: center;
        padding-top: 1%;
      }
           .btn{
             margin:1%;
            display: inline-block;
            padding: 0.2em 0.5em;
            border-radius: 5px;
            background: #00B4D8;
            color: #ffffff;
            text-decoration: none;
            font-weight: 700;
            border: none;
            outline: none;
            cursor: pointer;
        }
        }




  // @media screen and (-width: 768px){
  //   .main-nav{
  //     font-size:25px;
  //   }
  // }

//  -----------------------------------------------------------------------------
            // <!-- //= =============DEBUT  TIMELINE=============// -->
// .right-section-studies {
//   border: 5px dashed rgb(230, 255, 7);

    // width:10vw;
    // height: 10vh;
//    header p{
//    text-align: center;
//    margin-bottom: 0;
//  }

.hexa{
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 150px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

// le plus petit possible
.timeline {
  // border:2px;
  position: relative;
  // // left:auto;
  // // right:auto;
  padding: 0;
  width: 100%;
  list-style-type: none;
  border: 5px dashed rgb(255, 7, 172); 

}

.timeline:before {
  // border: 5px dashed rgb(0, 23, 128);
  border: 5px dashed rgb(222, 255, 7);

  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213,213,213);
  background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa{
  width: 16px;
  height: 10px;
  position: absolute;
  background: #00c4f3;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #00c4f3;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #00c4f3;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(255,255,255);
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255,255,255);
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
  font-size: 2vw;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: #00c4f3;
  display: inline-block;
  padding: 8px;
  font-size:1.5vw;
}

.desc {
  font-family: "Proxima";
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgb(254,254,254);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);
  z-index: 15;
  font-size: 1.5vw;
  .title-studies{
    font-size:0.5rem;
  }
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
  border: 5px dashed rgb(21, 247, 0);
  // font-size: 1vw;


}

@media(min-width: 768px){
  // .desc {
  // font-family: "Proxima";
  // font-size: 1.2vw;
  // .title-studies{
  //   font-size:0.5rem;
  //    border: 5px dashed red;
  // }
// }

//MOYEN
  .timeline {
    width: 660px;
    margin: 0 auto;
    // margin-top: 20px;
    //  border: 5px dashed red;
    width: 100%;
    border: 5px dashed rgb(253, 255, 255);


  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    border: 5px dashed rgb(111, 7, 196);

    
  }
  p {
    border: 5px dashed rgb(111, 7, 196);
    text-align:left;
  }
  .timeline .hexa {
    left: -40px;
    right: auto;
    top: 8px;
    border: 5px dashed rgb(124, 196, 7);

  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
    border: 5px dashed rgb(111, 7, 196);


  }

  .direction-l {
    position: relative;
    width: 50%;
    float: left;
    text-align: right;
    border: 5px dashed rgb(111, 7, 196);
    
  }

  .direction-r {
    position: relative;
    width: 50%;
    float: right;
    text-align: left;
    border: 5px dashed rgb(111, 7, 196);

  }

  .flag-wrapper {
    display: inline-block;
  }
  
  .flag {
    font-size: 1.3vw;
     border: 5px dashed red;

  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254,254,254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254,254,254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
    border: 5px dashed rgb(248, 6, 167);
    // font-size: 1vw;
      .title-studies{
    font-size:0.5rem;
    border: 5px dashed red;
  }


  }
}

@media(min-width: 992px){
    .title-studies{
    font-size:0.5rem;
     border: 5px dashed red;
    }
  .timeline {
    width: 100%;
    margin: 0 auto;
    // margin-top: 20px;
    // border: 5px dashed green;
  border: 5px dashed rgb(222, 255, 7);

  }

  .direction-l {
    position: relative;
    width: 48%;
    float: left;
    text-align: right;
    border: 5px dashed green;

  }

  .direction-r {
    position: relative;
    width: 46.5%;
    float: right;
    text-align:  left;
    border: 5px dashed green;

  }
}


            // <!-- //= =============DEBUT  TIMELINE=============// -->
            // <!-- //= =============DEBUT  TIMELINE=============// -->
            // <!-- //= =============DEBUT  TIMELINE=============// -->
            // <!-- //= =============DEBUT  TIMELINE=============// -->
            // <!-- //= =============DEBUT  TIMELINE=============// -->
            // <!-- //= =============DEBUT  TIMELINE=============// -->
            // <!-- //= =============DEBUT  TIMELINE=============// -->
            // <!-- //= =============DEBUT  TIMELINE=============// -->
            // <!-- //= =============DEBUT  TIMELINE=============// -->
            // <!-- //= =============DEBUT  TIMELINE=============// -->


// font stuff
// font stuff



// colour stuff
$white: #ffffff;
$lightBG: #dce1df;
$salmon: #ff6666;

$teal: #0096a0;
$tealMid: #0ebac7;
$tealContrast: #33ffff;
$tealShade:	#007c85;

$darkGrey: #4f585e;

// body {
//   background: $lightBG;
//   color: $darkGrey;
//   font-family: 'Source Sans Pro', sans-serif;
//   text-rendering: optimizeLegibility;
// }

a.btn {
  background: $teal;
  border-radius: 4px;
	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
  color: $white;
  display: inline-block;
  padding: 5%;
  padding:2%;
  position: relative;
  text-decoration: none;
	transition: all 0.1s 0s ease-out;
  font-size:0.5rem;
}

.no-touch a.btn:hover {
  background: lighten($teal,2.5);
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
  background: darken($teal,2.5);
  box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
  transform: translate3d(0,1px,0);
  transition: all 0.025s 0s ease-out;
}

div.cards {
  margin: 1%;
  max-width: 960px;
  text-align: center;
  display:flex;

}

div.card {
  background: $white;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;

  img {
    max-width: 300px;
  }
  
  .card__image-holder {
    background: rgba(0,0,0,0.1);
    height: 0;
    padding-bottom: 75%;
  }

  div.card-title {
    background: $white;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
    
    a.toggle-info {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 32px;
      
      span {
        background: $white;
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        transition: all 0.15s 0s ease-out;
        width: 12px;
      }
      
      span.left {
        right: 14px;
        transform: rotate(45deg);
      }
      span.right {
        left: 14px;
        transform: rotate(-45deg);
      }
    }
    
    h2 {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.05em;
      margin: 0;
      padding: 0;
      
      small {
        display: block;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.025em;
      }
    }
  }

  div.card-description {
    padding: 0 15px 10px;
    position: relative;
    font-size: 14px;
  }

  div.card-actions {
  	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
    padding: 10px 15px 20px;
    text-align: center;
  }
  
  div.card-flap {
    background: darken($white,15);
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
  }
  div.flap1 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
  }
  div.flap2 {
    transition: all 0.3s 0s ease-out;
    z-index: -2;
  }
  
}

div.cards.showing {
  div.card {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.88);
  }
}

.no-touch  div.cards.showing {
  div.card:hover {
    opacity: 0.94;
    transform: scale(0.92);
  }
}

div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;

  div.card-title {
    a.toggle-info {
      background: $salmon !important;
      span {
        top: 15px;
      }
      span.left {
        right: 10px;
      }
      span.right {
        left: 10px;
      }
    }
  }
  div.card-flap {
    background: $white;
    transform: rotateX(0deg);
  }
  div.flap1 {
    transition: all 0.3s 0s ease-out;
  }
  div.flap2 {
    transition: all 0.3s 0.2s ease-out;
  }
}


