@import "@fortawesome/fontawesome-free/css/all.css";
@import "./styles/font";
* {
    box-sizing: border-box;
     border: 1px dashed red;
}
html,body {
    padding:0;
    margin:0;
    width:100vw;
    height: 100vh;
    font-size:50px;
}
// CSS for SVG animation 
svg { position:absolute; top:0; left:0; height:100%; width:100% }
/* Most browsers */
@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #ffffff;

  }
  100% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
}
// end of SVG animation

//Title WAD
.title-wad{
  display:block;
  text-align:center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  font-size: 200%;
}

.full-height {
    height: 100vh;
}
h1 {
    text-align: center;
}

div {
  border: 1px dashed grey;
}

.work-images{
  width:  100%;
  height: 100%;
  overflow-y: auto;
  // margin-bottom: 120px;
  .oxfam, .croixrouge{
    width:100%;
    height:auto;
  }
}
.section-welcome{
    background-color: #00B4D8;

}
.blue {
    background-color: #90E0EF;
}
.lightblue{
    background-color: #CAF0F8;

}
.section-about, .section-studies, .section-jobs, .section-webdev,
.section-contact
{
  padding:0;
  font-size:50px;
  display:flex;
  justify-content: center;
  flex-direction: column; 
  .section-content
  {
    width:50%;
    padding:0;
  }
  .section-title{
    width:50%;
    padding:0;
    position:relative;

  }
  h2{
    padding:25%;
    text-align:center;
    font-family: "Great-Vibes";
    color: #03045E;
    font-size: 400%;
    font-weight: normal;
  }
  @media screen and (min-width: 768px){
    flex-direction: row;
  }
}

.main-nav{
    // display: flex;
    // justify-content: center;
    position:absolute;
    bottom:0px;
    width:100%;
    margin:auto;
    font-size:50%;
    a{
      text-decoration: none;
    }
    ul{
    border: 1px dashed grey;
    display:flex;
    justify-content: center;
    li{
    list-style-type: none;
    a:hover{
      text-decoration: none;
    }
    a::before {

    content: "/";
    color:white;
      }
    }
 
}
}

	#reveal1 {
		opacity: 0;
						transform: scale(0.9);
						transition: all 1s ease-in-out;
	}
	#reveal1.visible {
		opacity: 1;
						transform: none;
	}

// Section Contact starts here
.contact-heading{
  text-align:center;
  color:#4169e1;
  margin-top: 150px;
  margin-bottom:50px;
}
.container{
  background-color:#4169e1;
  width:400px;
  margin:80px auto;
  margin-bottom: 140px;
  border-radius:20px;
}
form{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows:auto;
  grid-gap:10px;
  padding:70px 30px 70px 30px;
}
.form-field{
  display:flex;
  flex-direction:column;
}
input[type="text"],
input[type=email]{
  height: 40px;
  font-size: 16px;
  padding-left: 5px;
  outline:none;
  border:none;
  border-radius:5px;
}
label {
  font-size: 23px;
  margin-bottom: 5px;
  color:#fff;
}
textarea
{
  resize: none;
  font-size:16px;
  padding:6px 5px;
  outline:none;
  border:none;
  border-radius:5px;
}
.btn{
  display: flex;
  align-items:center;
}
input[type="submit"]{
  padding:10px 50px;
  font-size:16px;
  outline:none;
  border:none;
  border-radius:5px;
  margin-top:40px;
  background-color: #fff;
  color:#4169e1;
  cursor:pointer;
}
.btn:hover{
  opacity:0.6;
}
@media(max-width: 415px){
  .container{
    width:350px;
    margin:50px auto 90px auto;
  }
}


  // @media screen and (-width: 768px){
  //   .main-nav{
  //     font-size:25px;
  //   }
  // }