@font-face{
    font-family:"Verona-Lotte";
    src: url("./static/fonts/Verona-Lotte/Verona-Lotte.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Great-Vibes";
    src: url("./static/fonts/Great_Vibes/GreatVibes-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Hermione";
    src: url("./static/fonts/Hermione/Hermione.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Proxima";
    src: url("./static/fonts/Proxima/Proxima.ttf");
    font-weight: normal;
    font-style: normal;
}