@font-face{
    font-family:"Verona-Lotte";
    src: url(./static/fonts/Verona-Lotte/Verona-Lotte.ttf);
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family:"Great-Vibes";
    src: url(./static/fonts/Great-Vibes/GreatVibes-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}







